.section-content-band-list .content-intro-wrapper > div h4 {
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-11);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-02-em);
  margin: 0 0 var(--spacer-element-07) 0;
}

.section-content-band-list .content-intro-wrapper > div h2 {
  font-family: var(--serif-font);
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-1-75);
  margin: 0 0 var(--spacer-element-07) 0;
}

.section-content-band-list .content-intro-wrapper > div p,
.section-content-band-list .content-intro-wrapper > div > div > div:nth-child(2) {
  font-family: var(--sans-serif-font-light);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-160);
  letter-spacing: var(--letter-spacing-001-em);
  margin: 0 0 var(--spacer-element-10) 0;

}

@media (min-width: 768px) {
  .section-content-band-list .content-intro-wrapper > div h4 {
      max-width: 516px;
  }

  .section-content-band-list .content-intro-wrapper > div h2 {
      margin-bottom: var(--spacer-element-08);
      max-width: 516px;
  }

}

@media (min-width: 1200px) {
  .section-content-band-list .content-intro-wrapper > div h4 {
      font-size: var(--font-size-14);
      margin-bottom: var(--spacer-element-08);
      max-width: 648px;
  }

  .section-content-band-list .content-intro-wrapper > div h2 {
      font-size: var(--font-size-45);
      max-width: 648px;
  }

  .section-content-band-list .content-intro-wrapper > div p{
      font-size: var(--font-size-21);
  }

  /* Css to make h2 and p side by side by using class 'text-on-right' */

  .section-content-band-list.text-on-right .content-intro-wrapper > div > div {
      display: flex;
      gap: 120px;
      margin-bottom: var(--spacer-layout-01);
  }
  
  .section-content-band-list.text-on-right .content-intro-wrapper > div > div > div:nth-child(1){
      max-width: 648px;
  }        
  
  .section-content-band-list.text-on-right .content-intro-wrapper > div > div > div:nth-child(2){
      font-size: var(--font-size-21);
      max-width: 357px;
      margin: 48.8px 0 var(--spacer-element-08);
  }        
  

}